@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme static {
  --color-primary: #da9852;
  --color-secondary: #3d0f3f;
  /* background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); */
  /* --color-primary-dark: #5654a2;
  --color-secondary-dark: #eee; */
}
@theme {
  --color-background: #f9f3e4;
  --color-foreground: #0c1522;
  --color-primary-foreground: #fff;
  --color-secondary-foreground: #000;
  --color-muted: #666;
  --color-muted-foreground: #888;
  --color-accent: #ffd373;
  --color-accent-foreground: #3d0f3f;
  --color-destructive: hsl(0 84.2% 60.2%);
  --color-destructive-foreground: hsl(210 40% 98%);
  --color-border: hsl(214.3 31.8% 91.4%);
  --color-input: hsl(214.3 31.8% 91.4%);
  --color-ring: #da9852;
  --color-ring-foreground: #ffcb6f;
  --color-popover-foreground: hsl(222.2 84% 4.9%);
  --color-popover: hsl(0 0% 100%);

  --color-selected: #27c24b;
  --color-tag-bg: #da9852;

  /* --text-popover-foreground: hsl(222.2 47.4% 11.2%); */
  --radius-xs: 0.5rem;
}

@layer base {
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes ping {
    75%,
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  @keyframes pulse {
    50% {
      opacity: 0.5;
    }
  }
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}
Label {
  @apply block text-sm font-medium my-2;
}
.container {
  @apply max-w-7xl mx-auto;
}

.tiptap {
  @apply focus-visible:outline-none min-h-200;
}

.radio-group button {
  all: unset;
  /* [data-state="unchecked"] */
  @apply cursor-pointer w-2.5 h-2.5 rounded-full border border-primary;
}

.radio-group Label {
  cursor: pointer;
}

@layer utilities {
  .bg-card {
    @apply bg-white;
  }
  .dark .bg-card {
    @apply bg-black;
  }
  .dark .bg-grid {
    background-color: #0c1522;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.04) 1px,
        transparent 1px
      ),
      linear-gradient(90deg, rgba(255, 255, 255, 0.04) 1px, transparent 1px);
    background-size: 24px 24px;
  }
  .bg-grid {
    background-color: #f9f3e4;
    background-image: linear-gradient(
        rgba(141, 169, 206, 0.06) 1px,
        transparent 1px
      ),
      linear-gradient(90deg, rgba(141, 169, 206, 0.06) 1px, transparent 1px);
    background-size: 24px 24px;
  }
}
