@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme static {
  --color-primary: hsl(222.2 47.4% 11.2%);
  --color-secondary: hsl(210 40% 96.1%);
}

@theme {
  --color-background: 0 0% 100%;
  --color-foreground: #171717;
  --color-primary-foreground: hsl(210 40% 98%);
  --color-secondary-foreground: hsl(222.2 47.4% 11.2%);
  --color-muted: hsl(210 40% 96.1%);
  --color-muted-foreground: hsl(215.4 16.3% 46.9%);
  --color-accent: hsl(210 40% 96.1%);
  --color-accent-foreground: hsl(222.2 47.4% 11.2%);
  --color-destructive: hsl(0 84.2% 60.2%);
  --color-destructive-foreground: hsl(210 40% 98%);
  --color-border: hsl(214.3 31.8% 91.4%);
  --color-input: hsl(214.3 31.8% 91.4%);
  --color-ring: #da9852;
  --color-popover-foreground: hsl(222.2 84% 4.9%);
  --color-popover: hsl(0 0% 100%);

  --color-tag-bg: #da9852;
  /* --color-card: var(--color-primary); */

  /* --text-popover-foreground: hsl(222.2 47.4% 11.2%); */
  --radius-xs: 0.5rem;
}

@layer base {
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes ping {
    75%,
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  @keyframes pulse {
    50% {
      opacity: 0.5;
    }
  }
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

.container {
  @apply max-w-7xl mx-auto;
}

.tiptap {
  @apply focus-visible:outline-none min-h-200;
}
